<div class="container">
<!-- The justified navigation menu is meant for single line per list item.
     Multiple lines will require custom code not provided by Bootstrap. -->
<div class="masthead" style="text-align: center">
  <img src="logo.png" alt="NFe.io" />
  <h2>
    Disponibilidade das Prefeituras
  </h2>
</div>

{{outlet}}

<!-- Site footer -->
<footer class="footer">
  <p>&copy; NFe.io 2015</p>
</footer>

</div> <!-- /container -->
